/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* Fullscreen sections */
.fullscreen-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.fullscreen-image img,
.fullscreen-image video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

/* Carousel Styles */
.carousel-wrapper {
    overflow: hidden;
    position: relative;
    background-color: #fcecf3;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.carousel-container {
    display: flex;
    width: max-content;
    gap: 40px;
    animation: scroll 30s linear infinite;
}

.carousel-container img {
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
}

/* Animation desktop */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Image defaults (desktop) */
.image1 {
    content: url('new-hero/1920x1280.png');
}

.image3 {
    content: url('assets1920/asset3.png');
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
    .image1 {
        content: url('new-hero/768x1024.png');
    }
    
    .image3 {
        content: url('assets1024/asset2.png');
    }

    .carousel-container {
        gap: 30px;
        animation: scrollMobile 20s linear infinite;
    }

    .carousel-container img {
        height: 80px;
    }
}

/* Animation Mobile */
@keyframes scrollMobile {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .image1 {
        content: url('new-hero/320x480.png');
    }
    
    .image3 {
        content: url('assets768/asset2.png');
    }

    .fullscreen-image {
        height: 520px;
    }

    .carousel-container {
        gap: 20px;
    }

    .carousel-container img {
        height: 70px;
    }
}
